.prod{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.individual {
  margin: 0px auto;
  width: 170px;
  height: 170px;
  border-style: solid;
  border-color: white;
  overflow: hidden;
  }


  .images {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin: 4px;
  }

  .comentar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 178px;
    font-size: 15px;
    height: 30px;
    background-color: rgba(241, 29, 29, 0.934);
  }

  .comentar:hover{
    background-color: rgb(144, 22, 22);
  }

  
.modify {
    width: 20px;
    height: 22px;
  }
  
  .borrar {
    width: 20px;
    height: 20px;
  }
   
  .botoncito{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    height: 170px;
    width: 170px;
}

  .botoncito img{
    margin: 0px auto;
    width: 120px;
    height: 120px;
    overflow: hidden;
    transition: transform 1s ease-in-out;
  }
  
  .botoncito:hover img {
    transform: rotate(180deg);
  }
  

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

